<h3>Show UsersHotel Page</h3>
<%= link_to "Home", "/indexhu" %>
<h3><%= User.find(@hotels_user.user_id).email %></h3>
<h3><%= Hotel.find(@hotels_user.hotel_id).name %></h3>

<%= link_to "Edit UsersHotel Details", edit_hotels_user_path(@hotels_user) %>
<br/>
<%= link_to "Delete UsersHotel", hotels_user_path(@hotels_user), method: :delete, data: {confirm: "Are you sure?"} %>