<!DOCTYPE html>
<html>
  <head>
    <title>Sqlpro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p id="notice"><%= notice %></p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
  
</script>
  </head>
	<%= link_to "HOME" ,"/v2/dashboards/home" %>

  <body>
    <%= yield %>
  </body>
</html>
